{% extends 'base.html' %}

{% block ajax %}
<script>
  function param_list() {

    var selectElement = document.getElementById("game_list");
    var selectedValue = selectElement.value;
    encodedValue = encodeURIComponent(selectedValue);
    console.log(selectedValue)

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/get_wagerdiv?game=" + encodedValue, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var response = xhr.responseText;
        var wagerDiv = document.getElementById("wagerdiv");
        wagerDiv.innerHTML = response;
      }
    };
    xhr.send();
  }
</script>
{% endblock %}

{% block title %}Other Page{% endblock %}

{% block route %}index{% endblock %}

{% block page %}index{% endblock %}

{% block content %}
<h1>Other Page</h1>
{% endblock %}

{% block test %}
<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <button class="btn btn-success" id="wager">注單模式</button>
          <hr>
          <select class="form-select" name="game_list" id="game_list" aria-label="Default select example"
            onchange="param_list()">
            <option selected>選擇遊戲</option>
            {% for item in game_list %}
            <option value="{{item}}">{{item}}</option>
            {% endfor %}
          </select>


          <form action="/start_test" methods="POST">

            <!-- 生成參數輸入框 -->
            <div id="wagerdiv"></div>




            <button class="btn btn-success" type="submit">送出</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}